/* FAQ section */
.faq__container {
    background: var(--clr-white);
    border-radius: 20px;
}

.faq__wrapper {
    display: flex;
    padding: 100px 100px;
}

.faq__image {
    flex: 1;
}

.faq__content {
    flex: 1;
}

.faq__heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
}

.faq__list {
    list-style: none;
}

.faq__item {
    border-bottom: 1px solid var(--sep-blue);
    padding: 15px 0;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__question img {
    transition: transform 250ms ease-in-out;
}

.faq__item:target .faq__question img {
    transform: rotate(180deg);
}

.faq__cta {
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-black);
    transition: color 250ms ease-in-out;
}

.faq__cta:hover {
    color: var(--clr-red);
}

.faq__item:target .faq__cta {
    font-weight: 700;
}

.faq__desc {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.faq__item:target .faq__desc {
    max-height: 3rem;
    padding: 15px 0 0 0;
    opacity: 1;
}

.faq__text {
    font-size: 0.75rem;
}

