/* FAQ section */
.faq {
    margin: 0 50px;
    transition: margin 250ms ease-in;
}

.faq__container {
    position: relative;
    background: var(--clr-white);
    border-radius: 20px;
}

.faq__wrapper {
    display: flex;
    padding: 100px 100px;
    max-height: 539px;
    overflow: hidden;
    transition: padding 250ms ease-in;
}

.faq__wrapper::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 333;
    background: url('../assets/img/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position-x: -565px;
    background-position-y: -267px;
    z-index: 1;
}

.faq__image {
    position: relative;
    flex: 1;
}

.faq__image-desktop {
    position: absolute;
    top: 0;
    left: -171px;
    z-index: 2;
}

.faq__image-mobile {
    display: none;
    position: absolute;
    top: -107px;
    left: calc(50% - 16px);
    transform: translateX(-50%);
}

.faq__box-image {
    position: absolute;
    top: 233px;
    left: -120px;
    z-index: 2;
}

.faq__content {
    flex: 1;
    z-index: 2;
}

.faq__heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
}

.faq__list {
    list-style: none;
}

.faq__item {
    border-bottom: 1px solid var(--sep-blue);
    padding: 15px 0;
}

.faq__input {
    display: none;
}

.faq__input:checked ~ .faq__desc {
    max-height: 3.5rem;
    padding: 15px 0 0 0;
    opacity: 1;
}

.faq__input:checked ~ label .faq__query {
    font-weight: 700;
}

.faq__input:checked ~ label .faq__query::before {
    transform: rotate(180deg);
}

.faq__query {
    position: relative;
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-black);
    width: 100%;
    transition: color 250ms ease-in-out,
                font-size 250ms ease-in-out;
}

.faq__query::before {
    position: absolute;
    content: url('../assets/img/icon-arrow-down.svg');
    right: 0;
    margin-right: 10px;
    transition: transform 250ms ease-in-out,
                margin 250ms ease-in-out;
}

.faq__query:hover {
    color: var(--clr-red);
}

.faq__desc {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.faq__text {
    font-size: 0.75rem;
    max-width: 340px;
}

/* FAQ Media queries */
@media (max-width: 950px) {
    .faq__wrapper {
        flex-flow: column;
    }

    .faq__wrapper:before {
        background: url('../assets/img/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: top center;
    }

    .faq__image {
        position: static;
    }

    .faq__image-desktop {
        display: none;
    }
    
    .faq__image-mobile {
        display: block;
    }
    
    .faq__box-image {
        display: none;
    }

    .faq__heading {
        text-align: center;
    }

    .faq__text {
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .faq__wrapper {
        padding: 100px 20px;
    }

    .faq__text {
        max-width: 315px;
    }

    .faq__item:target .faq__desc { /* ??? */
        max-height: 4.5rem;
    }
}

@media (max-width: 480px) {
    .faq {
        margin: 125px 25px 125px 25px;
    }

    .faq__heading {
        margin: 30px 0 20px 0;
    }

    .faq__query {
        font-size: 0.8rem;
    }

    .faq__query::before {
        margin: 0;
    }

    .faq__text {
        max-width: 270px;
    }
}