/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* Variables */
:root {
    --clr-white: #fff;
    --clr-black: #111;
    --clr-blue: hsl(238, 29%, 16%);
    --clr-red: hsl(14, 88%, 65%);
    --clr-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-grayish-blue: hsl(240, 6%, 50%);
    --bg-violet: hsl(273, 75%, 66%);
    --bg-blue: hsl(240, 73%, 65%);
    --sep-blue: hsl(240, 5%, 91%);
}
/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--bg-violet) 0%, var(--bg-blue) 100%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    color: var(--clr-black);
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* Utilities */
.container {
    max-width: 921px;
    margin: 0 auto;
}

